<div class="container">
<div class="confirm-grid">

  <span>Pick up address</span>
  <span><%= @service.pick_up_address %></span>

  <span>Flight number</span>
  <span><%= @service.flight_number %></span>

  <span>Name</span>
  <span><%= @service.first_name %> <%= @service.last_name %></span>
  <span>Luggages</span>
  <span><%= @service.number_normal_luggage %></span>

  <span>Language</span>
  <span><%= @service.driver_language %></span>

</div>

<%= simple_form_for(@service, url: confirm_update_service_path) do |f| %>

<%= f.input :status, as: :hidden, input_html: { value: "done"} %>
<% if @service.status != "done" %>
<%= f.submit "Mark as done", class: "btn-primary btn-lg mw-100" %>
<% end %>

<% end  %>
</div>
