<div class="container">
  <div class="row-recap">
    <h1>Service confirmation</h1>
    <h2><%= @service.service_type %></h2>
    <p><%=@service.pick_up_address %> - <%=@service.destination_address%> - <%=@service.pick_up_date %></p>
  </div>

  <div class="row">
    <div class="car1">
     <div class="car-show">
        <div class="col-xs-12 col-sm-4">
           <div class="info">
             <h2><%= @service.car.brand %></h2>
             <p class="desc"><i class="fas fa-users"></i> max. <%= @service.car.passenger_capacity %> | <i class="fas fa-suitcase"></i> max. <%= @service.car.luggage_capacity %></p>
             <p><%= @service.car.description %></p>
           </div>
        </div>
        <div class="col-xs-12 col-sm-4">
           <div class="pic">
             <%= image_tag "mercedes.jpg" %>
           </div>
      </div>
        <div class="col-xs-12 col-sm-4">
           <div class="price">
             <h1><%=@service.car.price_per_hour%> euros</h1>

             <p>All prices include VAT, fees & tip</p>
           </div>
        </div>
     </div>
    </div>
  </div>

<div class="row-price">
       <p>Total Price without commission: <%=(@service.final_price)/(100+@service.commission_rate)%> euros</p>
       <p>Commission: <%=@service.commission_rate %> %</p>
       <p>Total Price with commission: <%=(@service.final_price)/100%> euros</p>
         <div class="card-buttons1">
           <p><%= link_to "Go to Dashboard", dashboard_path, class: "btn btn-primary" %></p>
            <p><%=link_to "Export Invoice", send_invoice_email_client_service_path(@service), class: "btn btn-primary one"%></p>
         </div>
     </div>


</div>

