<div class="container">
  <h2>Agent dashboard</h2>

  <div class="child-menu">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#">All services</a></li>
      <li role="presentation"><a href="dashboard/revenues">Revenues</a></li>
    </ul>
  </div>

  <div class="child-transfer-list">
    <div class="table-headers">
      <div class="item-a">
        <strong>Service Type</strong>
      </div>
      <div class="item-b">
        <strong>Service Date</strong>
      </div>
      <div class="item-c">
        <strong>Client</strong>
      </div>
      <div class="item-d">
        <strong>Final price</strong>
      </div>
      <div class="item-e">
        <strong>Your commission</strong>
      </div>
      <div class="item-f">
        <strong>Service status</strong>
      </div>

    </div>

    <% if @confirmed_services == [] %>
      <p class="msg-no-service">You do not have any services to display yet</p>
    <% else %>
      <% @confirmed_services.each do |service| %>
        <div class="transfer">
          <div class="item-a">Transfer</div>
          <div class="item-b"><%= service.pick_up_date.strftime("%B %d, %Y") %></div>
          <div class="item-c">
            <% if service.last_name.nil? %>
              To be confirmed
            <% else  %>
              <%= service.last_name %>
            <% end %>
            </div>
          <div class="item-d">EUR <%= service.final_price.round / 100%></div>
          <div class="item-e"><%= (service.commission_rate).round %>%</div>
          <div class="item-f">
            <% if service.status == "paid" %>
              <div class="custom-badge-paid"><%= service.status %></div>
            <% else %>
              <div class="custom-badge-done"><%= service.status %></div>
            <% end %>
          </div>
          <div class="item-g"><button type="button" class="btn btn-default btn-xs"><%= link_to "Edit", edit_service_path(service) %></button></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

