<div class="container">
  <h2>Agent dashboard</h2>

  <div class="child-menu">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="../dashboard">All services</a></li>
      <li role="presentation" class="active"><a href="#">Revenues</a></li>
    </ul>
  </div>

  <div class="child-revenues-list">
    <div class="table-headers-revenues">
      <div class="item-a">
        <strong>Month</strong>
      </div>
      <div class="item-b">
        <strong>Total sales</strong>
      </div>
      <div class="item-c">
        <strong>Total commissions</strong>
      </div>
      <div class="item-d">
        <strong>Status</strong>
      </div>
      <div class="item-e">
        <strong>Payment date</strong>
      </div>
    </div>

    <% if @delivered_services == [] %>
      <p class="msg-no-service">You do not have any delivered services</p>
    <% else %>
      <% @months_hash.each do |index, month| %>
        <% if (index <= DateTime.now.month) && @monthly_revenue[index -1] != 0 %>
          <div class="month">
            <div class="item-a">
              <%= month %>
            </div>
            <div class="item-b">EUR <%= @monthly_revenue[index -1] %></div>
            <div class="item-c">
              EUR <%= @monthly_comm[index -1] %>
            </div>
            <div class="item-d">
              <% if index < DateTime.now.month %>
              <% if @monthly_comm[index -1] == 0 %>
              -
              <% else %>
              Paid
              <% end %>
              <% else %>
              <% if @monthly_comm[index -1] == 0 %>
              -
              <% else %>
              Pending
              <% end %>
              <% end %>
            </div>
            <div class="item-e">
              <% if @monthly_comm[index -1] == 0 %>
              -
              <% else %>
              <%= @months_hash[index +1] %>, 1st <%= DateTime.now.year %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>

