<p>Dear <% if @service.title == 0 %>
  Mrs.
  <% else %>
  Mr.
 <%end%>
<%= @service.last_name%>, </p>

 <p> Hereby, we confirm your transfert
  <ul>
  <li> from <%=@service.pick_up_address %>,</li>
  <li> on <%=@service.pick_up_date.strftime("%A, %m/%d/%Y")%>,</li>
  <li> at <%=@service.pick_up_date.strftime("%Ih%M %P")%>,</li>
  <li> for <%=@service.number_hours_at_disposal.round %>h.</li>
  </ul>
  Your car will be a <%=@service.car.brand %> and your driver speaks <%=@service.driver_language%>. We wish you a pleasant journey.</p>

<p>Sincerly,</p>
<p>Your <%= @service.user.agency %> </p>
