
<p>Dear <%= @service.user.email%>, </p>

<p> Private Transfer confirms your payment for the following service: </p>
<ul>
         <li>Pick-up date: <%=@service.pick_up_date %></li>
         <li>Flight number: <%=@service.flight_number %></li>
         <li>Number of passengers: <%=@service.number_of_passengers %></li>
         <li>Driver language: <%=@service.driver_language %></li>
         <li>Number of normal luggage: <%=@service.number_normal_luggage %></li>
         <li>Number of hand luggage: <%=@service.number_hand_luggage %></li>
         <li>Number of odd luggage: <%=@service.number_odd_luggage %></li>
         <li>Number of hours at disposal: <%=@service.number_hours_at_disposal %></li>
         <li>Final Price: <%=@service.final_price / 100 %>€</li>
   </ul>

<p>Sincerly,</p>
 <p>Your Private Transfer Team</p>
