<div class="banner">
  <div class="info">
    <h1>Private transfers for your clients</h1>
  </div>
  <div class="search">
    <ul class="menu-search">
      <li ><a href="#">Private Transfer</a></li>
      <li class="active"><a href="#">Driver at disposal</a></li>
      <li ><a href="#">Meet and Greet</a></li>
    </ul>
    <%= form_tag cars_path, method: :get do %>

    <div class="form-group row">
      <div class="col-xs-6">
      <%= text_field_tag :departure, params[:departure], class: "form-control", placeholder: "Departure address" %>
</div>

<div class="col-xs-6">
      <%= text_field_tag :hours, params[:hours], class: "form-control", placeholder: "Hours at disposal" %>
</div>
</div>
  <div class="form-group row">

<div class="col-xs-6">
    <%= text_field_tag :date,
    params[:date],
    class: "form-control",
    placeholder: "Pick up date"
  %>
</div>
  <div class="col-xs-6">
  <%= text_field_tag :time,
  params[:time],
  class: "form-control",
  placeholder: "Pick up time"
  %>
</div>
</div>
<%= submit_tag "Search", class: "btn btn-primary mw-100" %>
<% end %>
</div>
</div>
</div>
