<!-- banner -->

<div class="banner">
  <div class="info">
    <h1>Private transfers for your clients</h1>
  </div>
  <div class="search">
    <ul class="menu-search">
      <li ><a href="#">Private Transfer</a></li>
      <li class="active"><a href="#">Driver at disposal</a></li>
      <li ><a href="#">Meet and Greet</a></li>
    </ul>
    <%= form_tag cars_path, method: :get do %>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <%= text_field_tag :departure, params[:departure], class: "form-control", placeholder: "Departure address" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <div class="input-group">
            <%= text_field_tag :pick_up_date,
            params[:pick_up_date],
            class: "form-control",
            placeholder: "Pick up date"
            %>
            <span class="input-group-addon"><i class="far fa-calendar-alt"></i></span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <div class="input-group">
            <%= number_field_tag :hours, params[:hours], class: "form-control", placeholder: "Hours at disposal" %>
            <span class="input-group-addon"><i class="fas fa-hourglass-start"></i></span>
          </div>
        </div>
      </div></div>
      <%= submit_tag "Search", class: "btn btn-primary mw-100" %>
      <% end %>
    </div>
  </div>
</div>

<!-- section "benefits" -->

<div class="section-1">
    <div class="intro-section">
      <h2>A booking tool designed for travel agents</h2>
      <p>No more emails, no more overseas calls, no more stress.</p>
      <p>This booking engine is designed for Travel Agents and professionals who want to provide Deluxe services to their clientele.</p>
    </div>
</div>

<div class="intro-cards">
  <div class="row">
    <div class="col col-xs-12 col-sm-4">
      <div class="intro-card">
        <div class="intro-card-title">
          Your clients in good hands
        </div>
        <div class="intro-card-text">
          First class Transfer services from any meeting points in Paris and around, Provence and French Riviera.
        </div>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-4">
      <div class="intro-card">
        <div class="intro-card-title">
          Instant quotes and booking
        </div>
        <div class="intro-card-text">
          Get instant pricing and options, book in a few clicks
        </div>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-4">
      <div class="intro-card">
        <div class="intro-card-title">
          Apply your commission
        </div>
        <div class="intro-card-text">
          Apply the commission rate of your choice and get full transparency on payment process
        </div>
      </div>
    </div>
  </div>
</div>

<!-- logos -->
<div class="partners-logos">
    <!-- <div class="col-xs-12 col-sm-12 logos list-inline"> -->
      <!-- <div class="logos list-inline"> -->

          <div class="logo one"><%= image_tag("logoaltour", alt:"logo Altour") %></div>
          <div class="logo two"><%= image_tag("signature_travel_network", alt:"Signature Travel") %></div>
          <div class="logo three"><%= image_tag("virtuoso", alt:"Virtuoso") %></div>
        <!-- </div> -->
        <!-- <div class="col-xs-12 col-sm-12 logos list-inline"> -->
          <div class="logo four"><%= image_tag("travel leader", alt:"Travel Leader") %></div>
          <div class="logo five"><%= image_tag("maestro_travel_logo", alt:"Maestro Travel") %></div>
          <div class="logo six"><%= image_tag("Andrewharper", alt:"Andrew Harper") %></div>
        <!-- </div> -->

  <!-- </div> -->
</div>
<!-- slider -->

<div class="slider-outer-container">
  <div class="slider-container">
      <ul class="controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
          <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
              <i class="fas fa-angle-left"></i>
          </li>
          <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
              <i class="fas fa-angle-right"></i>
          </li>
      </ul>

      <div class="my-slider">
          <div class="slider-item">
              <div class="slider-card">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="slider-card-agent">
                      <div class="agent-name">Alex Dummat</div>
                      <div class="agent-agency">Montecristo Travel</div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="slider-card-testimonial">
                      My clients Mr and Mrs Dantes were very happy with their transfer. Thank you for an impeccable service, as always.
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="slider-item">
              <div class="slider-card">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="slider-card-agent">
                      <div class="agent-name">John Ronald Tolcane</div>
                      <div class="agent-agency">Ringo Travel</div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="slider-card-testimonial">
                      I love booking with My Private Transfer. I can keep track easily of my commissions and got great feedback from my clients Mr and Mrs Baggins, for their round-trip to Normandy. My client had even lost a precious ring in the car, which was brought back later to the hotel.
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="slider-item">
              <div class="slider-card">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="slider-card-agent">
                      <div class="agent-name">Jules Vernon</div>
                      <div class="agent-agency">80 days Travel</div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="slider-card-testimonial">
                      I booked a last-minute transfer for my client Mr Fog, who was very happy with the comfort of the car.
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- car section -->

<div class="section-car">
    <div class="intro-section">
      <h2>We have the right car for your clients</h2>
    </div>

    <div class="car-card">
      <div class="car-image">
        <%= image_tag("mercedes_e_class", alt:"mercedes e class") %>
      </div>
      <div class="car-description">
        <h3>Mercedes Class E Premium</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet hic aut obcaecati, facere fuga deleniti provident nam accusantium beatae repudiandae laboriosam dolores praesentium modi tempore, tenetur temporibus dignissimos sit debitis.</p>
      </div>
    </div>
</div>



