<h1><%= @car.brand %></h1>

<%= @car.company %>
<%= cl_image_tag(@event.photo,
      width: 700, height: 300) %>
<%= @car.description %>
<%= @car.luggage_capacity %>
<%= @car.price_per_hour %>
<%= @car.price_per_km %>
<%= @car.image %>
